<div style="height: 100%%;">
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-button (click)="sidenav.toggle()" class="nav-button"><i class="material-icons">
        menu
        </i></button>
    </div>
    <span class="page-title">Opera House</span>

    <span class="example-spacer"></span>
    <span class="spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <a routerLink="/" mat-button>Home</a>
      <a routerLink="/login" *ngIf="!userLogedIn" mat-button>Login</a>
      <a routerLink="/" *ngIf="userLogedIn" (click)="logout()" mat-button>LogOut</a>
      <a routerLink="/signup" *ngIf="!userLogedIn" mat-button>Sign Up</a>
      <a routerLink="/admin" *ngIf="userLogedIn && position == '1'" mat-button>Manage Users</a>
      <a routerLink="/events" *ngIf="userLogedIn && position == '2'" mat-button>Events Control</a>
      <a routerLink="/createhall" *ngIf="userLogedIn && position == '2'" mat-button>Create Hall</a>
      <a routerLink="/profile" *ngIf="userLogedIn" mat-button><i class="material-icons">
                                            person
                                            </i></a>
      <a routerLink="/contact"  routerLinkActive="active" mat-button>Contact Us</a>
    </div>

   
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <!-- <a (click)="sidenav.toggle()" href="#" mat-button>Close</a> -->
      <a routerLink="/" mat-button>Home</a>
      <a routerLink="/login" *ngIf="!userLogedIn" mat-button>Login</a>
      <a routerLink="/" *ngIf="userLogedIn" (click)="logout()" mat-button>LogOut</a>
      <a routerLink="/signup" *ngIf="!userLogedIn" mat-button>Sign Up</a>
      <a routerLink="/admin" *ngIf="userLogedIn && position == '1'" mat-button>Manage Users</a>
      <a routerLink="/events" *ngIf="userLogedIn && position == '2'" mat-button>Events Control</a>
      <a routerLink="/createhall" *ngIf="userLogedIn && position == '2'" mat-button>Create Hall</a>
      <a routerLink="/profile" *ngIf="userLogedIn" mat-button><i class="material-icons">
                                            person
                                            </i></a>
      <a routerLink="/contact" routerLinkActive="active" mat-button>Contact Us</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill style="background-image: url('../../../assets/images/bodyback.jpg');">
    <router-outlet></router-outlet>
    <div class="navigation-margin"></div>
    <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
