<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card  class="head-card">
        <button mat-stroked-button class="nav-pages"><p style="background-color: coral;">Create Event<p></button>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="head-card">
        <button mat-stroked-button class="nav-pages"><p style="background-color: coral;">Cancel Events<p></button>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="head-card">
        <button mat-stroked-button class="nav-pages"><p style="background-color: coral;">View Events<p></button>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
